<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoClicker.Properties.Settings>
            <setting name="IrvHrs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IrvMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IrvSecs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IrvMillis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RepeatForever" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseBtnIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickTypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartHotkey" serializeAs="String">
                <value>117</value>
            </setting>
            <setting name="RepeatTimes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotkeyModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoClicker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>